// color
$primary_color:#CF5800;
$white_color:#fff;
$text_color:#333;
$button_color:#E37B58;

$container-width-lg: 80%;
$container-width-md: 90%;
$container-width-sm: 94%;

@mixin transition_ease {
  transition: all .3s ease;
}